fastapi==0.115.0
uvicorn==0.32.0
pillow==11.0.0
transformers==4.47.0
torch==2.5.1
python-multipart==0.0.20
python-dotenv==1.0.1
accelerate==1.2.1
requests==2.32.3
numpy==1.26.4
opencv-python==4.10.0.84
aiohttp==3.11.11
scipy==1.14.1